@import url("https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap");
:root {
  --fsz-for-h2-title: calc(28px + 12 * (100vw / 1912));
  --fsz-for-p-title: calc(18px + 2 * (100vw / 1912));
  --standart-fsz-p: calc(17px + 1 * (100vw / 1912));
  --first-main-color: #4caf50;
}

body {
  background-color: white;
  overflow-x: hidden;
  font-family: "Roboto", serif;
  box-sizing: border-box;

  header {
    width: 100%;
    height: 7vh;
    min-height: 52px;
    background-color: black;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1000;

    .header-content {
      width: 90%;
      height: 80%;
      display: flex;
      margin: 0 auto;
      align-items: center;

      .header-content__web-name {
        font-size: calc(18px + 2 * (100vw / 1912));
        color: white;
        font-family: "Playwrite IN", serif;
      }

      .header-content_chenge-theme-buttons {
        width: 7%;
        min-width: 120px;
        max-width: 120px;
        height: 100%;
        margin-left: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
          width: 50px;
          height: 90%;
          border: none;
          background-color: white;
          border-radius: 7px;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: all 0.4s;
          margin-top: 12px;

          img {
            width: 28px;
            height: auto;
            display: block;
          }

          &.active {
            background-color: var(--first-main-color);
            border: 2.3px solid white;
            img {
              filter: invert(1);
            }
          }
        }
      }
    }
  }

  main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex: 1 0 0;

    .main_welcome-section {
      width: 100%;
      height: 96vh;
      display: flex;
      justify-content: space-between;
      position: relative;
      min-height: 960px;
      max-height: 1200px;
      min-width: 1260px;

      .present-photo {
        width: 46%;
        height: 100%;
        object-fit: cover;
      }

      .welcome-section_text-part {
        position: relative;
        top: 5%;
        left: 2%;
        width: 50%;
        height: 100%;

        h1 {
          font-size: calc(36px + 20 * (100vw / 1912));
          font-weight: 600;
          color: black;
          width: 67%;
          line-height: 60px;
          margin-bottom: 32px;

          span {
            color: var(--first-main-color);
          }
        }

        p {
          font-size: calc(19px + 3 * (100vw / 1912));
          width: 60%;
          line-height: 30px;
        }

        .form-registration-tour {
          width: 50%;
          height: auto;
          display: flex;
          align-items: center;
          justify-content: space-between;

          input {
            width: 70%;
            height: 48px;
            min-height: 40px;
            max-height: 52px;
            background-color: white;
            font-size: calc(17px + 1 * (100vw / 1912));
            padding: 12px 24px;
            margin: 20px 0;
            border-radius: 3px;
            border: none;
            box-shadow: 0px 1px 2px #92979c;
          }

          button {
            background-color: var(--first-main-color);
            border: none;
            border-radius: 3px;
            height: 48px;
            width: 28%;
            color: white;
            font-size: 16px;
          }
        }

        .text-part_registration-conditions {
          font-size: calc(17px + 1 * (100vw / 1912));
          color: #000000;
          line-height: 23px;

          a {
            color: var(--first-main-color);
          }
        }

        .status-sending-form {
          font-size: calc(17px + 1 * (100vw / 1912));
          font-weight: 400;
          margin-bottom: 10px;
        }
      }
    }
    .main_about-company {
      width: 100%;
      height: 88vh;
      min-height: 700px;
      max-height: 800px;
      min-width: 1410px;
      .about-company_content {
        width: 75%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 100px 0;
        .main_about-company_title {
          width: 50%;
          height: 25%;
          text-align: center;
          margin: 0 auto 20px auto;

          h2 {
            color: black;
            font-weight: 600;
            font-size: var(--fsz-for-h2-title);
            margin-bottom: 22px;
          }
          p {
            width: 80%;
            margin: 0 auto;
            font-size: var(--fsz-for-p-title);
            line-height: 30px;
          }
        }
        .main_about-company_our-advantages {
          width: 84%;
          height: 100%;
          max-height: 800px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .our-advantages_elem {
            width: 27%;
            height: 80%;
            max-height: 350px;
            min-height: 262px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            text-align: center;

            img {
              width: 25%;
              height: auto;
            }

            h3 {
              font-size: calc(24px + 8 * (100vw / 1912));
              color: black;
              font-weight: 600;
            }

            p {
              font-size: var(--standart-fsz-p);
              line-height: 28px;
            }
          }
        }
      }
    }
    .main_types-of-tours {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      height: auto;
      max-height: 600px;
      background-color: black;
      .types-of-tours_title {
        width: 30%;
        text-align: left;
        color: white;
        margin-left: 130px;

        h2 {
          font-size: var(--fsz-for-h2-title);
          margin-bottom: 20px;
        }
        p {
          font-size: var(--fsz-for-p-title);
          line-height: 30px;
        }
      }
      .types-of-tours_swiper {
        width: 60%;
        height: 100%;
        display: flex;
        .swiper_swiper-slide {
          position: relative;
          width: 50%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .slide_text-part {
            position: absolute;
            top: 0;
            left: 0;
            color: white;
            background-color: rgba(#000000, 0.5);
            padding: 20px 10px;

            h3 {
              font-size: calc(23px + 7 * (100vw / 1912));
              font-weight: 600;
              margin-bottom: 15px;
            }
            p {
              font-size: var(--standart-fsz-p);
              line-height: 28px;
              width: 86%;
            }
          }
        }
      }
    }
    .main_tour-data {
      width: 100%;
      height: auto;
      max-height: 1100px;
      display: flex;
      flex-wrap: wrap;
      .tour-data_text-part {
        width: 55%;
        height: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 48px;
        position: relative;
        top: 28.5%;
        .tour-data_title {
          width: 90%;
          h2 {
            font-size: var(--fsz-for-h2-title);
            font-weight: 700;
            margin-bottom: 39px;
          }
          p {
            font-size: var(--fsz-for-p-title);
            line-height: 28px;
            margin-bottom: 40px;
          }
        }
        .tour-data_data-tour {
          width: 90%;
          display: flex;
          justify-content: space-between;
          .data-tour_data-block {
            width: 45%;
            h3 {
              font-size: calc(24px + 8 * (100vw / 1912));
              font-weight: 600;
              margin-bottom: 25px;
              transition: all 0.4s;
            }
            p {
              font-size: 16px;
            }
          }
        }
      }
      img {
        width: 45%;
        height: 100%;
        object-fit: cover;
      }
    }
    .main_traditions-of-the-alps {
      width: 100%;
      height: auto;
      max-height: 900px;
      background-color: #000000;
      display: flex;
      justify-content: center;
      align-items: center;
      .traditions-of-the-alps_content {
        width: 67.5%;
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        img {
          height: 100%;
          width: 45%;
          border-radius: 5px;
        }
        .content_text-part {
          width: 50%;
          height: 100%;
          color: white;

          h2 {
            font-weight: 600;
            font-size: var(--fsz-for-h2-title);
            line-height: 45px;
            margin-bottom: 20px;
          }
          p {
            font-size: var(--fsz-for-p-title);
            line-height: 28px;
            margin-bottom: 50px;
          }
        }
        .content_proposed-options {
          list-style: none;
          li {
            font-size: var(--standart-fsz-p);
            line-height: 40px;
            &::before {
              content: "";
              display: inline-block;
              position: relative;
              top: 6px;
              width: 30px;
              height: 30px;
              margin-right: 10px;
              background-image: url("imgs/mountain.svg");
              background-size: cover;
              filter: invert(100%);
            }
          }
        }
      }
    }
    .main_winter-tours {
      width: 100%;
      height: auto;
      max-height: 800px;
      display: flex;
      align-items: center;
      img {
        width: 45%;
        height: 100%;
        object-fit: cover;
      }
      .winter-tours_text-part {
        width: 33%;
        height: 100%;
        padding: 80px 30px;
        position: relative;
        top: 0;
        left: 30px;
        .text-part_title {
          margin-bottom: 35px;
          h2 {
            font-size: var(--fsz-for-h2-title);
            font-weight: 600;
            line-height: 45px;
            margin-bottom: 30px;
          }
          p {
            font-size: calc(19px + 3 * (100vw / 1912));
            line-height: 33px;
          }
        }
        .text-part_tour-opportunities {
          list-style: none;
          li {
            font-size: calc(19px + 3 * (100vw / 1912));
            line-height: 48px;
            &::before {
              content: "";
              display: inline-block;
              position: relative;
              top: 6px;
              width: 27px;
              height: 27px;
              margin-right: 10px;
              background-image: url("imgs/ski.svg");
              background-size: cover;
            }
          }
        }
      }
    }
    .main_user-reviews {
      width: 80%;
      height: auto;
      max-height: 700px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 62px auto 0 auto;
      .user-reviews_title {
        text-align: center;
        h2 {
          font-size: var(--fsz-for-h2-title);
          font-weight: 600;
          margin-bottom: 20px;
        }
        p {
          font-size: var(--fsz-for-p-title);
        }
      }
      .user-reviews_reviews {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        width: 90%;
        list-style: none;
        padding: 80px 0;
        li {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          align-items: center;
          width: 20%;
          height: 55%;
          max-width: 413px;
          min-width: 310px;
          min-height: 310px;
          max-width: 360px;
          text-align: center;
          h3 {
            font-size: calc(25px + 9 * (100vw / 1912));
            font-weight: 600;
            margin-bottom: 19px;
          }
          p {
            font-size: 15px;
            width: 90%;
            margin: 0 auto;
            font-weight: 600;
            line-height: 20px;
          }
          img {
            width: 103px;
            height: 103px;
            object-fit: cover;
            margin: 20px 0;
            border-radius: 50%;
          }
          p {
            font-size: 15px;
          }
        }
      }
    }
  }
  footer {
    width: 100%;
    height: auto;
    .footer_communication-methods {
      width: 100%;
      height: 50%;
      display: flex;
      align-items: center;
      flex-direction: column;
      margin: 0 auto;
      padding: 80px 0;
      background-color: #000000;
      .communication-methods_content {
        width: 75%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 50px;
        .communication-methods_method {
          width: 25%;
          max-width: 413px;
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          color: white;
          text-align: left;
          &:nth-child(3) {
            img {
              position: relative;
              top: 0;
              left: -4px;
            }
          }
          img {
            width: 30px;
            height: 30px;
            filter: invert(1);
            margin-bottom: 15px;
          }
          h3 {
            font-size: calc(24px + 8 * (100vw / 1912));
            font-weight: 600;
          }
          p {
            font-size: 15px;
            line-height: 24px;
            span {
              color: var(--first-main-color);
            }
          }
        }
      }
    }
    .footer_legal-content {
      width: 100%;
      height: auto;
      padding: 80px 0;
      .legal-content_content {
        width: 60%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        .br {
          background-color: #000000;
          height: 1px;
          width: 100%;
          margin: 30px 0;
        }
        .content_social-media {
          display: flex;
          width: 9%;
          justify-content: space-between;
          align-items: center;
          margin-left: auto;
          .icon {
            width: 16px;
            height: auto;
            transition: all 0.4s;
            margin-left: auto;
            &:hover {
              cursor: pointer;
              fill: #4caf50;
            }
          }
        }
        .content_links {
          display: flex;
          align-items: center;
          justify-content: space-between;
          width: 83%;
          a {
            color: #000000;
            transition: all 0.3s;
            &:hover {
              color: var(--first-main-color);
            }
          }
        }
      }
    }
  }

  &.dark-theme {
    background-color: rgb(20, 39, 39);
    main {
      .main_welcome-section {
        .welcome-section_text-part {
          color: white;
          h1 {
            color: white;
          }
          .text-part_registration-conditions {
            color: white;
          }
          .form-registration-tour {
            .messege-ok {
              color: white;
            }
          }
        }
      }
      .main_about-company {
        background-color: #d6d2d2;
        color: white;

        .main_about-company_title {
          h2 {
            color: var(--first-main-color);
          }
          p {
            color: black;
          }
        }
        .main_about-company_our-advantages {
          h3 {
            color: var(--first-main-color);
          }
          p {
            color: black;
          }
        }
      }
      .main_types-of-tours {
        .types-of-tours_title {
          h2 {
            color: var(--first-main-color);
          }
        }
      }
      .main_tour-data {
        .tour-data_text-part {
          color: white;
          .tour-data_title {
            h2 {
              color: var(--first-main-color);
            }
          }
        }
      }
      .main_winter-tours {
        .winter-tours_text-part {
          color: white;
          .text-part_title {
            h2 {
              color: var(--first-main-color);
            }
          }

          .text-part_tour-opportunities {
            li {
              &::before {
                content: "";
                filter: invert(1);
              }
            }
          }
        }
      }
      .main_user-reviews {
        .user-reviews_title {
          h2 {
            color: var(--first-main-color);
          }
          p {
            color: white;
          }
        }
        .user-reviews_reviews {
          color: white;
        }
      }
    }
    footer {
      .footer_legal-content {
        color: white;
        .content_social-media {
          .icon {
            filter: invert(1);
          }
        }
        .br {
          background-color: white;
        }
        .content_links {
          a {
            color: white;
          }
        }
      }
    }
  }
}

@media (max-width: 1423px) {
  main {
    .main_welcome-section {
      .welcome-section_text-part {
        .form-registration-tour {
          width: 80%;
          button {
            width: 33%;
          }
        }
      }
    }
  }
}

@media (max-width: 1410px) {
  main {
    .main_about-company {
      width: 90%;
      .about-company_content {
        padding: 40px 0 !important;
      }
    }
  }
}
