@import url("https://fonts.googleapis.com/css2?family=Playwrite+IN:wght@100..400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --fsz-for-h2-title: calc(28px + 12 * (100vw / 1912));
  --fsz-for-p-title: calc(18px + 2 * (100vw / 1912));
  --standart-fsz-p: calc(17px + 1 * (100vw / 1912));
  --first-main-color: #4caf50;
}

body {
  background-color: white;
  font-family: "Roboto", serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
body header {
  width: 100%;
  height: 7vh;
  min-height: 52px;
  background-color: black;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
}
body header .header-content {
  width: 90%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header .header-content .header-content__web-name {
  font-size: calc(18px + 0.1046025105vw);
  color: white;
  font-family: "Playwrite IN", serif;
}
body header .header-content .header-content_chenge-theme-buttons {
  width: 7%;
  min-width: 120px;
  max-width: 120px;
  height: 100%;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body header .header-content .header-content_chenge-theme-buttons button {
  width: 50px;
  height: 90%;
  border: none;
  background-color: white;
  border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-top: 12px;
}
body header .header-content .header-content_chenge-theme-buttons button img {
  width: 28px;
  height: auto;
  display: block;
}
body header .header-content .header-content_chenge-theme-buttons button.active {
  background-color: var(--first-main-color);
  border: 2.3px solid white;
}
body header .header-content .header-content_chenge-theme-buttons button.active img {
  -webkit-filter: invert(1);
          filter: invert(1);
}
body main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
body main .main_welcome-section {
  width: 100%;
  height: 96vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  min-height: 960px;
  max-height: 1023px;
}
body main .main_welcome-section .present-photo {
  width: 46%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .main_welcome-section .welcome-section_text-part {
  position: relative;
  top: 5%;
  left: 2%;
  width: 50%;
  height: 100%;
}
body main .main_welcome-section .welcome-section_text-part h1 {
  font-size: calc(36px + 1.0460251046vw);
  font-weight: 600;
  color: black;
  width: 67%;
  line-height: 60px;
  margin-bottom: 32px;
}
body main .main_welcome-section .welcome-section_text-part h1 span {
  color: var(--first-main-color);
}
body main .main_welcome-section .welcome-section_text-part p {
  font-size: calc(18px + 0.1046025105vw);
  width: 60%;
  line-height: 30px;
}
body main .main_welcome-section .welcome-section_text-part .form-registration-tour {
  width: 50%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body main .main_welcome-section .welcome-section_text-part .form-registration-tour input {
  width: 70%;
  height: 46px;
  background-color: white;
  font-size: calc(17px + 0.0523012552vw);
  padding: 0 24px;
  margin: 20px 0;
  border-radius: 3px;
  border: none;
  -webkit-box-shadow: 0px 1px 2px #92979c;
          box-shadow: 0px 1px 2px #92979c;
}
body main .main_welcome-section .welcome-section_text-part .form-registration-tour button {
  background-color: var(--first-main-color);
  border: none;
  border-radius: 3px;
  height: 48px;
  width: 28%;
  color: white;
  font-size: 16px;
}
body main .main_welcome-section .welcome-section_text-part .text-part_registration-conditions {
  font-size: calc(17px + 0.0523012552vw);
  color: #000000;
  line-height: 23px;
}
body main .main_welcome-section .welcome-section_text-part .text-part_registration-conditions a {
  color: var(--first-main-color);
}
body main .main_welcome-section .welcome-section_text-part .status-sending-form {
  font-size: calc(17px + 0.0523012552vw);
  font-weight: 400;
  margin-bottom: 10px;
}
body main .main_about-company {
  width: 100%;
  height: 88vh;
  min-height: 663px;
}
body main .main_about-company .about-company_content {
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 80px;
}
body main .main_about-company .about-company_content .main_about-company_title {
  width: 50%;
  height: auto;
  text-align: center;
}
body main .main_about-company .about-company_content .main_about-company_title h2 {
  color: black;
  font-weight: 600;
  font-size: var(--fsz-for-h2-title);
  margin-bottom: 22px;
}
body main .main_about-company .about-company_content .main_about-company_title p {
  width: 80%;
  margin: 0 auto;
  font-size: var(--fsz-for-p-title);
  line-height: 30px;
}
body main .main_about-company .about-company_content .main_about-company_our-advantages {
  width: 84%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body main .main_about-company .about-company_content .main_about-company_our-advantages .our-advantages_elem {
  width: 27%;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
}
body main .main_about-company .about-company_content .main_about-company_our-advantages .our-advantages_elem img {
  width: 25%;
  height: auto;
}
body main .main_about-company .about-company_content .main_about-company_our-advantages .our-advantages_elem h3 {
  font-size: calc(24px + 0.4184100418vw);
  color: black;
  font-weight: 600;
}
body main .main_about-company .about-company_content .main_about-company_our-advantages .our-advantages_elem p {
  font-size: var(--standart-fsz-p);
  line-height: 28px;
}
body main .main_types-of-tours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: auto;
  background-color: black;
}
body main .main_types-of-tours .types-of-tours_title {
  width: 35%;
  text-align: left;
  color: white;
  padding: 40px 20px 30px 130px;
}
body main .main_types-of-tours .types-of-tours_title h2 {
  font-size: var(--fsz-for-h2-title);
  margin-bottom: 20px;
}
body main .main_types-of-tours .types-of-tours_title p {
  font-size: var(--fsz-for-p-title);
  line-height: 30px;
}
body main .main_types-of-tours .types-of-tours_title p .open-dop-content {
  display: none;
  width: 60px;
  height: auto;
  min-width: 35px;
  border: none;
  position: relative;
  top: 0;
  left: 45%;
}
body main .main_types-of-tours .types-of-tours_variant-list {
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}
body main .main_types-of-tours .types-of-tours_variant-list .variant-list_elem {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body main .main_types-of-tours .types-of-tours_variant-list .variant-list_elem img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .main_types-of-tours .types-of-tours_variant-list .variant-list_elem .elem_text-part {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px 10px;
}
body main .main_types-of-tours .types-of-tours_variant-list .variant-list_elem .elem_text-part h3 {
  font-size: calc(23px + 0.3661087866vw);
  font-weight: 600;
  margin-bottom: 6px;
}
body main .main_types-of-tours .types-of-tours_variant-list .variant-list_elem .elem_text-part p {
  font-size: var(--standart-fsz-p);
  line-height: 28px;
  width: 86%;
}
body main .main_tour-data {
  width: 100%;
  height: 90vh;
  min-height: 606px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body main .main_tour-data .tour-data_text-part {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 48px;
  position: relative;
  top: 20%;
  left: 0;
}
body main .main_tour-data .tour-data_text-part .text-part_title {
  width: 90%;
}
body main .main_tour-data .tour-data_text-part .text-part_title h2 {
  font-size: var(--fsz-for-h2-title);
  font-weight: 700;
  margin-bottom: 39px;
}
body main .main_tour-data .tour-data_text-part .text-part_title p {
  font-size: var(--fsz-for-p-title);
  line-height: 28px;
  margin-bottom: 40px;
}
body main .main_tour-data .tour-data_text-part .text-part_data-tour {
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body main .main_tour-data .tour-data_text-part .text-part_data-tour .data-tour_data-block {
  width: 45%;
}
body main .main_tour-data .tour-data_text-part .text-part_data-tour .data-tour_data-block h3 {
  font-size: calc(24px + 0.4184100418vw);
  font-weight: 600;
  margin-bottom: 25px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
body main .main_tour-data .tour-data_text-part .text-part_data-tour .data-tour_data-block p {
  font-size: 16px;
}
body main .main_tour-data img {
  width: 45%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .main_traditions-of-the-alps {
  width: 100%;
  height: auto;
  background-color: #000000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0;
  min-height: 681px;
}
body main .main_traditions-of-the-alps .traditions-of-the-alps_content {
  width: 67.5%;
  height: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body main .main_traditions-of-the-alps .traditions-of-the-alps_content img {
  width: 45%;
  min-height: 800px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5px;
}
body main .main_traditions-of-the-alps .traditions-of-the-alps_content .content_text-part {
  width: 50%;
  height: 100%;
  color: white;
}
body main .main_traditions-of-the-alps .traditions-of-the-alps_content .content_text-part h2 {
  font-weight: 600;
  font-size: var(--fsz-for-h2-title);
  line-height: 45px;
  margin-bottom: 20px;
}
body main .main_traditions-of-the-alps .traditions-of-the-alps_content .content_text-part p {
  font-size: var(--fsz-for-p-title);
  line-height: 28px;
  margin-bottom: 50px;
}
body main .main_traditions-of-the-alps .traditions-of-the-alps_content .content_proposed-options {
  list-style: none;
}
body main .main_traditions-of-the-alps .traditions-of-the-alps_content .content_proposed-options li {
  font-size: var(--standart-fsz-p);
  line-height: 40px;
}
body main .main_traditions-of-the-alps .traditions-of-the-alps_content .content_proposed-options li::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 6px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background-image: url("../imgs/mountain.svg");
  background-size: cover;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
body main .main_winter-tours {
  width: 100%;
  height: 95vh;
  min-height: 712px;
  max-height: 1010px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body main .main_winter-tours img {
  width: 45%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body main .main_winter-tours .winter-tours_text-part {
  width: 33%;
  height: 100%;
  padding: 80px 30px;
  position: relative;
  top: 0;
  left: 30px;
}
body main .main_winter-tours .winter-tours_text-part .text-part_title {
  margin-bottom: 35px;
}
body main .main_winter-tours .winter-tours_text-part .text-part_title h2 {
  font-size: var(--fsz-for-h2-title);
  font-weight: 600;
  line-height: 45px;
  margin-bottom: 30px;
}
body main .main_winter-tours .winter-tours_text-part .text-part_title p {
  font-size: calc(19px + 0.1569037657vw);
  line-height: 33px;
}
body main .main_winter-tours .winter-tours_text-part .text-part_tour-opportunities {
  list-style: none;
}
body main .main_winter-tours .winter-tours_text-part .text-part_tour-opportunities li {
  font-size: calc(19px + 0.1569037657vw);
  line-height: 48px;
}
body main .main_winter-tours .winter-tours_text-part .text-part_tour-opportunities li::before {
  content: "";
  display: inline-block;
  position: relative;
  top: 6px;
  width: 27px;
  height: 27px;
  margin-right: 10px;
  background-image: url("../imgs/ski.svg");
  background-size: cover;
}
body main .main_user-reviews {
  width: 80%;
  height: auto;
  max-height: 700px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 62px auto 0 auto;
}
body main .main_user-reviews .user-reviews_title {
  text-align: center;
}
body main .main_user-reviews .user-reviews_title h2 {
  font-size: var(--fsz-for-h2-title);
  font-weight: 600;
  margin-bottom: 20px;
}
body main .main_user-reviews .user-reviews_title p {
  font-size: var(--fsz-for-p-title);
}
body main .main_user-reviews .user-reviews_reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 90%;
  list-style: none;
  padding: 80px 0;
}
body main .main_user-reviews .user-reviews_reviews li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
  height: 55%;
  min-width: 310px;
  min-height: 310px;
  text-align: center;
}
body main .main_user-reviews .user-reviews_reviews li h3 {
  font-size: calc(25px + 0.4707112971vw);
  font-weight: 600;
  margin-bottom: 19px;
}
body main .main_user-reviews .user-reviews_reviews li p {
  font-size: 15px;
  width: 90%;
  margin: 0 auto;
  font-weight: 600;
  line-height: 20px;
}
body main .main_user-reviews .user-reviews_reviews li img {
  width: 103px;
  height: 103px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 20px 0;
  border-radius: 50%;
}
body main .main_user-reviews .user-reviews_reviews li p {
  font-size: 15px;
}
body footer {
  width: 100%;
  height: auto;
}
body footer .footer_communication-methods {
  width: 100%;
  height: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0 auto;
  padding: 80px 0;
  background-color: #000000;
}
body footer .footer_communication-methods .communication-methods_content {
  width: 75%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-bottom: 50px;
}
body footer .footer_communication-methods .communication-methods_content .communication-methods_method {
  width: 25%;
  max-width: 413px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: white;
  text-align: left;
}
body footer .footer_communication-methods .communication-methods_content .communication-methods_method:nth-child(3) .icon {
  position: relative;
  top: 0;
  left: -4px;
}
body footer .footer_communication-methods .communication-methods_content .communication-methods_method .icon {
  width: 30px;
  height: 30px;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-bottom: 15px;
}
body footer .footer_communication-methods .communication-methods_content .communication-methods_method .method_text-part .text-part_title-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body footer .footer_communication-methods .communication-methods_content .communication-methods_method .method_text-part .text-part_title-section .hidden-icon {
  width: 30px;
  height: 30px;
  display: none;
  -webkit-filter: invert(1);
          filter: invert(1);
  margin-right: 8px;
  opacity: 0;
}
body footer .footer_communication-methods .communication-methods_content .communication-methods_method .method_text-part .text-part_title-section h3 {
  font-size: calc(23px + 0.3661087866vw);
  font-weight: 600;
}
body footer .footer_communication-methods .communication-methods_content .communication-methods_method .method_text-part .text-part_title-section .arrow-for-showContent {
  width: 30px;
  height: 30px;
  opacity: 0;
  border: none;
  margin-left: 5px;
}
body footer .footer_communication-methods .communication-methods_content .communication-methods_method .method_text-part .text-part_title-section .arrow-for-showContent img {
  width: 30px;
  height: 30px;
}
body footer .footer_communication-methods .communication-methods_content .communication-methods_method .method_text-part p {
  font-size: 15px;
  line-height: 24px;
  display: block;
  opacity: 1;
  margin-top: 10px;
}
body footer .footer_communication-methods .communication-methods_content .communication-methods_method .method_text-part p span {
  color: var(--first-main-color);
}
body footer .footer_legal-content {
  width: 100%;
  height: auto;
  padding: 80px 0;
}
body footer .footer_legal-content .legal-content_content {
  width: 70%;
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}
body footer .footer_legal-content .legal-content_content .br {
  background-color: #000000;
  height: 1px;
  width: 100%;
  margin: 30px 0;
}
body footer .footer_legal-content .legal-content_content .content_social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 9%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  min-width: 90px;
}
body footer .footer_legal-content .legal-content_content .content_social-media .icon {
  width: 16px;
  height: 16px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-left: auto;
}
body footer .footer_legal-content .legal-content_content .content_social-media .icon:hover {
  cursor: pointer;
  fill: #4caf50;
}
body footer .footer_legal-content .legal-content_content .content_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}
body footer .footer_legal-content .legal-content_content .content_links .links_text-part {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}
body footer .footer_legal-content .legal-content_content .content_links .links_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 35%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 355px;
}
body footer .footer_legal-content .legal-content_content .content_links .links_link a {
  color: #000000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
body footer .footer_legal-content .legal-content_content .content_links .links_link a:hover {
  color: var(--first-main-color);
}
body.dark-theme {
  background-color: rgb(20, 39, 39);
}
body.dark-theme main .main_welcome-section .welcome-section_text-part {
  color: white;
}
body.dark-theme main .main_welcome-section .welcome-section_text-part h1 {
  color: white;
}
body.dark-theme main .main_welcome-section .welcome-section_text-part .text-part_registration-conditions {
  color: white;
}
body.dark-theme main .main_welcome-section .welcome-section_text-part .form-registration-tour .messege-ok {
  color: white;
}
body.dark-theme main .main_about-company {
  background-color: #d6d2d2;
  color: white;
}
body.dark-theme main .main_about-company .main_about-company_title h2 {
  color: var(--first-main-color);
}
body.dark-theme main .main_about-company .main_about-company_title p {
  color: black;
}
body.dark-theme main .main_about-company .main_about-company_our-advantages h3 {
  color: var(--first-main-color);
}
body.dark-theme main .main_about-company .main_about-company_our-advantages p {
  color: black;
}
body.dark-theme main .main_types-of-tours .types-of-tours_title h2 {
  color: var(--first-main-color);
}
body.dark-theme main .main_tour-data .tour-data_text-part {
  color: white;
}
body.dark-theme main .main_tour-data .tour-data_text-part .tour-data_title h2 {
  color: var(--first-main-color);
}
body.dark-theme main .main_winter-tours .winter-tours_text-part {
  color: white;
}
body.dark-theme main .main_winter-tours .winter-tours_text-part .text-part_title h2 {
  color: var(--first-main-color);
}
body.dark-theme main .main_winter-tours .winter-tours_text-part .text-part_tour-opportunities li::before {
  content: "";
  -webkit-filter: invert(1);
          filter: invert(1);
}
body.dark-theme main .main_user-reviews .user-reviews_title h2 {
  color: var(--first-main-color);
}
body.dark-theme main .main_user-reviews .user-reviews_title p {
  color: white;
}
body.dark-theme main .main_user-reviews .user-reviews_reviews {
  color: white;
}
body.dark-theme footer .footer_legal-content {
  color: white;
}
body.dark-theme footer .footer_legal-content .content_social-media .icon {
  -webkit-filter: invert(1);
          filter: invert(1);
}
body.dark-theme footer .footer_legal-content .br {
  background-color: white;
}
body.dark-theme footer .footer_legal-content .content_links .links_link a {
  color: white;
}

@media (max-width: 1682px) {
  body footer .footer_legal-content .legal-content_content .content_links {
    width: 100%;
  }
  body footer .footer_legal-content .legal-content_content .content_links .links_link {
    width: 33%;
  }
}
@media (max-width: 1678px) {
  body main .main_welcome-section .welcome-section_text-part .form-registration-tour {
    width: 70%;
  }
}
@media (max-width: 1583px) {
  body main .main_about-company .about-company_content {
    padding: 60px 0;
  }
  body main .main_about-company .about-company_content .main_about-company_our-advantages {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .main_tour-data .tour-data_text-part {
    position: relative;
    top: 16%;
    left: 0;
  }
}
@media (max-width: 1410px) {
  body main .main_winter-tours .winter-tours_text-part {
    width: 50%;
  }
}
@media (max-width: 1400px) {
  body main .main_welcome-section .welcome-section_text-part {
    width: 70%;
  }
  body main .main_welcome-section .welcome-section_text-part h1 {
    line-height: 44px;
  }
  body main .main_about-company .about-company_content .main_about-company_title {
    width: 100%;
    margin-bottom: 30px;
  }
  body main .main_types-of-tours .types-of-tours_title {
    width: 38%;
    padding-left: 40px;
  }
  body main .main_traditions-of-the-alps .traditions-of-the-alps_content {
    width: 80%;
  }
}
@media (max-width: 1315px) {
  body main .main_types-of-tours {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .main_types-of-tours .types-of-tours_title {
    width: 90%;
    padding-left: 15px;
  }
  body main .main_types-of-tours .types-of-tours_variant-list {
    width: 100%;
    height: 470px;
  }
  body main .main_types-of-tours .types-of-tours_variant-list .variant-list_elem {
    height: 100%;
  }
  body main .main_types-of-tours .types-of-tours_variant-list .variant-list_elem .elem_text-part {
    padding-left: 15px;
  }
  body main .main_user-reviews {
    width: 90%;
  }
  body main .main_user-reviews .user-reviews_reviews {
    width: 94%;
  }
}
@media (max-width: 1303px) {
  body main .main_welcome-section {
    min-height: 500px;
  }
  body main .main_welcome-section img {
    width: 34% !important;
  }
  body main .main_welcome-section .welcome-section_text-part {
    width: 66%;
  }
  body main .main_welcome-section .welcome-section_text-part h1 {
    width: 80%;
  }
  body main .main_welcome-section .welcome-section_text-part p {
    width: 90%;
  }
  body main .main_welcome-section .welcome-section_text-part .form-registration-tour {
    width: 65%;
  }
  body main .main_welcome-section .welcome-section_text-part .form-registration-tour button {
    width: 29%;
  }
  body main .main_welcome-section .welcome-section_text-part .form-registration-tour input {
    width: 70%;
  }
  body main .main_winter-tours .winter-tours_text-part {
    padding: 30px;
  }
}
@media (max-width: 1348px) {
  body footer .footer_legal-content .legal-content_content .content_links {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body footer .footer_legal-content .legal-content_content .content_links .links_text-part {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    margin-bottom: 20px;
  }
  body footer .footer_legal-content .legal-content_content .content_links .links_text-part p {
    line-height: 30px;
  }
}
@media (max-width: 1139px) {
  body main .main_winter-tours {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
    margin-bottom: 90px;
  }
  body main .main_winter-tours .winter-tours_text-part {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    padding: 30px 5px;
  }
  body main .main_winter-tours .winter-tours_text-part .text-part_title h2 {
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 20px;
  }
  body main .main_winter-tours .winter-tours_text-part .text-part_title h2 p {
    font-size: 14px;
    line-height: 24px;
  }
  body main .main_winter-tours .winter-tours_text-part .text-part_tour-opportunities li {
    line-height: 27px;
    margin-bottom: 18px;
  }
  body main .main_winter-tours img {
    width: 100%;
    max-height: 400px;
    min-height: 200px;
  }
}
@media (max-width: 1102px) {
  body main .main_user-reviews {
    height: auto;
    max-height: none;
    width: 80%;
  }
  body main .main_user-reviews .user-reviews_reviews {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 0;
  }
  body main .main_user-reviews .user-reviews_reviews li {
    width: 100%;
    min-height: 250px;
    margin-bottom: 90px;
  }
}
@media (max-width: 1078px) {
  body main .main_welcome-section .welcome-section_text-part {
    position: relative;
  }
  body main .main_welcome-section .welcome-section_text-part .form-registration-tour {
    width: 90%;
  }
  body main .main_about-company {
    height: auto !important;
  }
  body main .main_about-company .about-company_content {
    height: 100%;
  }
  body main .main_about-company .about-company_content .main_about-company_our-advantages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  body main .main_about-company .about-company_content .main_about-company_our-advantages .our-advantages_elem {
    width: 100%;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 37px;
  }
  body main .main_about-company .about-company_content .main_about-company_our-advantages .our-advantages_elem img {
    width: 9%;
    margin-bottom: 8px;
    min-width: 56px;
  }
  body footer .footer_communication-methods {
    height: 40%;
  }
  body footer .footer_communication-methods .communication-methods_content {
    width: 90%;
  }
  body footer .footer_communication-methods .communication-methods_content .communication-methods_method {
    width: 50%;
    padding: 25px 0;
  }
}
@media (max-width: 1055px) {
  body main .main_tour-data .tour-data_text-part {
    position: relative;
    top: 1%;
    left: 0;
  }
}
@media (max-width: 861px) {
  body main .main_traditions-of-the-alps .traditions-of-the-alps_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .main_traditions-of-the-alps .traditions-of-the-alps_content img {
    width: 100%;
    height: 40%;
    margin-bottom: 13px;
    min-height: 300px;
  }
  body main .main_traditions-of-the-alps .traditions-of-the-alps_content .content_text-part {
    width: 100%;
    height: 60%;
  }
}
@media (max-width: 807px) {
  body main .main_tour-data {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 900px;
  }
  body main .main_tour-data .tour-data_text-part {
    width: 100%;
    padding: 0;
    margin-bottom: 50px;
    height: auto;
  }
  body main .main_tour-data .tour-data_text-part .text-part_data-tour .data-tour_data-block {
    width: 40%;
  }
  body main .main_tour-data img {
    width: 100%;
    height: 50%;
  }
  body footer .footer_legal-content .legal-content_content .content_links {
    width: 100%;
  }
  body footer .footer_legal-content .legal-content_content .content_links .links_text-part {
    width: 100%;
  }
}
@media (max-width: 720px) {
  body main .main_welcome-section .welcome-section_text-part {
    position: relative;
    top: 2%;
  }
  body footer .footer_communication-methods {
    padding: 0;
  }
  body footer .footer_communication-methods .communication-methods_content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    padding: 30px 10px;
  }
  body footer .footer_communication-methods .communication-methods_content .communication-methods_method {
    width: 100%;
  }
  body footer .footer_communication-methods .communication-methods_content .communication-methods_method .icon {
    display: none;
    opacity: 0;
  }
  body footer .footer_communication-methods .communication-methods_content .communication-methods_method .method_text-part .text-part_title-section .hidden-icon {
    opacity: 1;
    display: block;
  }
  body footer .footer_communication-methods .communication-methods_content .communication-methods_method .method_text-part .text-part_title-section .arrow-for-showContent {
    opacity: 1;
    -webkit-filter: none !important;
            filter: none !important;
  }
  body footer .footer_communication-methods .communication-methods_content .communication-methods_method .method_text-part p {
    display: none;
    opacity: 0;
    text-align: center;
  }
  body footer .footer_communication-methods .communication-methods_content .communication-methods_method .method_text-part p.show {
    display: block;
    opacity: 1;
  }
}
@media (max-width: 660px) {
  body main .main_types-of-tours .types-of-tours_title {
    padding: 30px 20px 10px 40px;
  }
  body main .main_types-of-tours .types-of-tours_title p .open-dop-content {
    display: block;
  }
  body main .main_types-of-tours .types-of-tours_variant-list {
    display: none;
    height: 900px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body main .main_types-of-tours .types-of-tours_variant-list.show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body main .main_types-of-tours .types-of-tours_variant-list.show .variant-list_elem {
    width: 100%;
    height: 50%;
  }
}
@media (max-width: 652px) {
  body main .main_welcome-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  body main .main_welcome-section img {
    width: 100% !important;
    height: 30% !important;
    max-height: 300px;
  }
  body main .main_welcome-section .welcome-section_text-part {
    width: 100%;
    height: 70%;
    margin: 20px 0;
  }
  body main .main_welcome-section .welcome-section_text-part .form-registration-tour input {
    font-size: 15px;
    padding: 0 10px;
  }
  body main .main_tour-data .tour-data_text-part .text-part_title {
    width: 98% !important;
  }
  body main .main_tour-data .tour-data_text-part .text-part_data-tour {
    width: 95% !important;
  }
  body main .main_tour-data .tour-data_text-part .text-part_data-tour .data-tour_data-block {
    width: 40%;
  }
  body main .main_tour-data .tour-data_text-part .text-part_data-tour .data-tour_data-block h3 {
    margin-bottom: 10px;
  }
  body main .main_traditions-of-the-alps .traditions-of-the-alps_content {
    width: 95%;
  }
  body main .main_traditions-of-the-alps .traditions-of-the-alps_content img {
    height: 200px;
  }
}
@media (max-width: 544px) {
  body main .main_welcome-section .welcome-section_text-part h1 {
    width: 100%;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 22px;
  }
  body main .main_about-company .about-company_content {
    width: 100% !important;
  }
  body main .main_about-company .about-company_content .main_about-company_title p {
    width: 80%;
  }
  body main .main_about-company .about-company_content .main_about-company_our-advantages {
    gap: 30px;
  }
  body main .main_user-reviews {
    height: auto;
    max-height: none;
    width: 90%;
  }
  body main .main_user-reviews .user-reviews_reviews {
    width: 100%;
  }
  body main .main_user-reviews .user-reviews_reviews li {
    width: 100%;
  }
}
@media (max-width: 435px) {
  body main .main_tour-data {
    min-height: 900px;
  }
  body main .main_tour-data .tour-data_text-part {
    position: relative;
    top: 5%;
  }
  body main .main_tour-data .tour-data_text-part .text-part_data-tour {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body main .main_tour-data .tour-data_text-part .text-part_data-tour .data-tour_data-block {
    width: 94%;
    margin-bottom: 20px;
  }
}
@media (max-width: 420px) {
  body main .main_welcome-section .welcome-section_text-part p {
    width: 95%;
    line-height: 26px;
  }
  body main .main_welcome-section .welcome-section_text-part .form-registration-tour {
    width: 97%;
  }
  body main .main_welcome-section .welcome-section_text-part .form-registration-tour button {
    font-size: 14px;
    width: 25%;
    min-width: 89px;
  }
  body main .main_welcome-section .welcome-section_text-part .form-registration-tour input {
    width: 75%;
  }
  body main .main_types-of-tours .types-of-tours_title {
    padding-left: 20px;
    font-size: 17px !important;
  }
}
@media (max-width: 407px) {
  body footer .footer_legal-content .legal-content_content .content_links .links_link {
    width: 100% !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body footer .footer_legal-content .legal-content_content .content_links .links_link a {
    line-height: 30px;
  }
}